In [1]:
import pandas as pd
import numpy as np
import pickle
from script import *
from sarimax_script import *
from garch_script import *
from appliances_script import *

%matplotlib inline

/usr/local/lib/python3.5/dist-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [2]:
plt.rc('figure', figsize=(18.0, 6.0))
pd.set_option('display.max_columns', None)

In [87]:
df_545 = pickle.load(open('pickle_files/df_545.p','rb'))

In [42]:
def charge_peak(row):
    if row['car1'] > 0.8:
        return 1
    else:
        return 0

In [94]:
#function to find mean car charge
def mean_car_charge(data, start, end):
    car_charge = {}
    for index in data.Time_Index.unique():
        car_charge[index] = np.mean(data[data.Time_Index==index].car1)
    
    return car_charge

In [88]:
start_train, end_train, start_test, end_test = find_dates(545, 15, 90)

In [89]:
df_545.index = pd.to_datetime(df_545.apply(strip_tz, axis=1))

In [90]:
df_545_car = df_545.loc[start_train:end_test,['localhour','car1']]

In [92]:
df_545_car['Car_Charge'] = df_545_car.apply(charge_peak, axis=1)
df_545_car['Day_of_Week'] = df_545_car.index.weekday_name
df_545_car['Hour'] = df_545_car.index.hour

car_day = pd.get_dummies(df_545_car.Day_of_Week)
car_hour = pd.get_dummies(df_545_car.Hour)
df_545_car = df_545_car.join([car_day, car_hour])

In [93]:
df_545_car['Time_Index'] = df_545_car['Day_of_Week']+ df_545_car['Hour'].astype(str)

In [78]:
#find mean of each time index
car_charge = {}

for index in df_545_car.Time_Index.unique():
    car_charge[index] = np.mean(df_545_car[df_545_car.Time_Index ==index].car1)

In [48]:
df_545_car

,localhour,car1,Car_Charge,Day_of_Week,Hour,Time_Index
2016-08-02 00:00:00,2016-08-02 00:00:00-05:00,0.000000,0,Tuesday,0,Tuesday0
2016-08-02 01:00:00,2016-08-02 01:00:00-05:00,0.000000,0,Tuesday,1,Tuesday1
2016-08-02 02:00:00,2016-08-02 02:00:00-05:00,0.000000,0,Tuesday,2,Tuesday2
2016-08-02 03:00:00,2016-08-02 03:00:00-05:00,0.114117,0,Tuesday,3,Tuesday3
2016-08-02 04:00:00,2016-08-02 04:00:00-05:00,0.000000,0,Tuesday,4,Tuesday4
2016-08-02 05:00:00,2016-08-02 05:00:00-05:00,0.000000,0,Tuesday,5,Tuesday5
2016-08-02 06:00:00,2016-08-02 06:00:00-05:00,0.000367,0,Tuesday,6,Tuesday6
2016-08-02 07:00:00,2016-08-02 07:00:00-05:00,0.000000,0,Tuesday,7,Tuesday7
2016-08-02 08:00:00,2016-08-02 08:00:00-05:00,0.000500,0,Tuesday,8,Tuesday8
2016-08-02 09:00:00,2016-08-02 09:00:00-05:00,0.000100,0,Tuesday,9,Tuesday9
2016-08-02 10:00:00,2016-08-02 10:00:00-05:00,0.000000,0,Tuesday,10,Tuesday10
2016-08-02 11:00:00,2016-08-02 11:00:00-05:00,0.000317,0,Tuesday,11,Tuesday11
2016-08-02 12:00:00,2016-08-02 12:00:00-05:00,0.000000,0,Tuesday,12,Tuesday12
2016-08-02 13:00:00,2016-08-02 13:00:00-05:00,0.000000,0,Tuesday,13,Tuesday13
2016-08-02 14:00:00,2016-08-02 14:00:00-05:00,0.000000,0,Tuesday,14,Tuesday14
2016-08-02 15:00:00,2016-08-02 15:00:00-05:00,0.000117,0,Tuesday,15,Tuesday15
2016-08-02 16:00:00,2016-08-02 16:00:00-05:00,0.000000,0,Tuesday,16,Tuesday16
2016-08-02 17:00:00,2016-08-02 17:00:00-05:00,0.000000,0,Tuesday,17,Tuesday17
2016-08-02 18:00:00,2016-08-02 18:00:00-05:00,0.000000,0,Tuesday,18,Tuesday18
2016-08-02 19:00:00,2016-08-02 19:00:00-05:00,2.243433,1,Tuesday,19,Tuesday19
2016-08-02 20:00:00,2016-08-02 20:00:00-05:00,0.000000,0,Tuesday,20,Tuesday20
2016-08-02 21:00:00,2016-08-02 21:00:00-05:00,0.000000,0,Tuesday,21,Tuesday21
2016-08-02 22:00:00,2016-08-02 22:00:00-05:00,0.000000,0,Tuesday,22,Tuesday22
2016-08-02 23:00:00,2016-08-02 23:00:00-05:00,0.000000,0,Tuesday,23,Tuesday23
2016-08-03 00:00:00,2016-08-03 00:00:00-05:00,0.115417,0,Wednesday,0,Wednesday0
2016-08-03 01:00:00,2016-08-03 01:00:00-05:00,0.000000,0,Wednesday,1,Wednesday1
2016-08-03 02:00:00,2016-08-03 02:00:00-05:00,0.000000,0,Wednesday,2,Wednesday2
2016-08-03 03:00:00,2016-08-03 03:00:00-05:00,0.000000,0,Wednesday,3,Wednesday3
2016-08-03 04:00:00,2016-08-03 04:00:00-05:00,0.000000,0,Wednesday,4,Wednesday4
2016-08-03 05:00:00,2016-08-03 05:00:00-05:00,0.094833,0,Wednesday,5,Wednesday5
...,...,...,...,...,...,...
2016-10-29 19:00:00,2016-10-29 19:00:00-05:00,0.000000,0,Saturday,19,Saturday19
2016-10-29 20:00:00,2016-10-29 20:00:00-05:00,0.000000,0,Saturday,20,Saturday20
2016-10-29 21:00:00,2016-10-29 21:00:00-05:00,0.002567,0,Saturday,21,Saturday21
2016-10-29 22:00:00,2016-10-29 22:00:00-05:00,0.003550,0,Saturday,22,Saturday22
2016-10-29 23:00:00,2016-10-29 23:00:00-05:00,0.003150,0,Saturday,23,Saturday23
2016-10-30 00:00:00,2016-10-30 00:00:00-05:00,0.003317,0,Sunday,0,Sunday0
2016-10-30 01:00:00,2016-10-30 01:00:00-05:00,0.002317,0,Sunday,1,Sunday1
2016-10-30 02:00:00,2016-10-30 02:00:00-05:00,0.000000,0,Sunday,2,Sunday2
2016-10-30 03:00:00,2016-10-30 03:00:00-05:00,0.000000,0,Sunday,3,Sunday3
2016-10-30 04:00:00,2016-10-30 04:00:00-05:00,0.000000,0,Sunday,4,Sunday4
2016-10-30 05:00:00,2016-10-30 05:00:00-05:00,0.000000,0,Sunday,5,Sunday5
2016-10-30 06:00:00,2016-10-30 06:00:00-05:00,0.000000,0,Sunday,6,Sunday6
2016-10-30 07:00:00,2016-10-30 07:00:00-05:00,0.000000,0,Sunday,7,Sunday7
2016-10-30 08:00:00,2016-10-30 08:00:00-05:00,0.000800,0,Sunday,8,Sunday8
2016-10-30 09:00:00,2016-10-30 09:00:00-05:00,0.000000,0,Sunday,9,Sunday9
2016-10-30 10:00:00,2016-10-30 10:00:00-05:00,0.000000,0,Sunday,10,Sunday10
2016-10-30 11:00:00,2016-10-30 11:00:00-05:00,0.000000,0,Sunday,11,Sunday11
2016-10-30 12:00:00,2016-10-30 12:00:00-05:00,0.000000,0,Sunday,12,Sunday12
2016-10-30 13:00:00,2016-10-30 13:00:00-05:00,2.546217,1,Sunday,13,Sunday13
2016-10-30 14:00:00,2016-10-30 14:00:00-05:00,0.153417,0,Sunday,14,Sunday14
2016-10-30 15:00:00,2016-10-30 15:00:00-05:00,0.000000,0,Sunday,15,Sunday15
2016-10-30 16:00:00,2016-10-30 16:00:00-05:00,0.000000,0,Sunday,16,Sunday16
2016-10-30 17:00:00,2016-10-30 17:00:00-05:00,0.000000,0,Sunday,17,Sunday17
2016-10-30 18:00:00,2016-10-30 18:00:00-05:00,0.000067,0,Sunday,18,Sunday18
2016-10-30 19:00:00,2016-10-30 19:00:00-05:00,0.000000,0,Sunday,19,Sunday19
2016-10-30 20:00:00,2016-10-30 20:00:00-05:00,0.000000,0,Sunday,20,Sunday20
2016-10-30 21:00:00,2016-10-30 21:00:00-05:00,0.001233,0,Sunday,21,Sunday21
2016-10-30 22:00:00,2016-10-30 22:00:00-05:00,0.000000,0,Sunday,22,Sunday22
2016-10-30 23:00:00,2016-10-30 23:00:00-05:00,0.000000,0,Sunday,23,Sunday23
2016-10-31 00:00:00,2016-10-31 00:00:00-05:00,0.000000,0,Monday,0,Monday0

In [49]:
pickle.dump(df_545_car,open('car_charge_exog.p','wb'))

In [ ]:
# %load script.py
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import itertools
import statsmodels.api as sm
from statsmodels.tsa.stattools import adfuller
from datetime import datetime, timedelta
from dateutil.relativedelta import *
import statsmodels.tsa.api as smt
import seaborn as sns
from sklearn.metrics import mean_squared_error
import pickle


df_meta_refined = pickle.load(open('pickle_files/df_meta_refined.p', 'rb'))


#function to strip timezone from datetime
def strip_tz(row):
        return row['localhour'].strftime('%Y-%m-%d %H:%M:%S')


#function to indicate weekends
def is_weekend(row):
    if row['Day_of_Week'] > 4:
        return 1
    else:
        return 0


#load dataframe for building
def load_building(building_id, start, end):

    df = pickle.load(open('pickle_files/df_{}.p'.format(building_id), 'rb'))
    df = df.sort_values('localhour', ascending=True)
    df.index = pd.to_datetime(df.apply(strip_tz, axis=1))
    df = df.rename(columns={'use':'Hourly_Usage'})
    df = df.loc[start:end,['localhour','Hourly_Usage','car1']]
    df['Time_Index'] = df.index.weekday_name+ df.index.hour.astype(str)

    return df


#function to load weather of respective city
def load_weather(city):

    df = pickle.load(open('weather_{}.p'.format('austin'), 'rb'))
    df = df.sort_values('localhour', ascending=True)
    df.index = pd.to_datetime(df.apply(strip_tz, axis=1))

    return df



#function to find latest month of egauge data
def find_egauge_dates(dataid, length=30, final_date=None):

    df = pickle.load(open('pickle_files/df_{}.p'.format(dataid),'rb'))

    if not final_date:
        final_date = df_meta_refined.loc[dataid, 'egauge_max_time']

    final_date = datetime.strftime(final_date,'%Y-%m-%d %H:%M:%S')
    final_date = datetime.strptime(final_date, '%Y-%m-%d %H:%M:%S')

    max_date = datetime.strptime('2016-10-31 00:00:00', '%Y-%m-%d %H:%M:%S')

    if final_date > max_date:
        final_date = max_date

    end_date = datetime.strptime('{}-{}-{} 00:00:00'.format(final_date.year, final_date.month, final_date.day), '%Y-%m-%d %H:%M:%S')
    time_delta = timedelta(days=length)
    start_date = end_date - time_delta

    return start_date, end_date

In [ ]:
# %load sarimax_script.py
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import itertools
import statsmodels.api as sm
from statsmodels.tsa.stattools import adfuller
from datetime import datetime, timedelta
from dateutil.relativedelta import *
import statsmodels.tsa.api as smt
import seaborn as sns
from sklearn.metrics import mean_squared_error
import pickle
from script import *


#function to create training and testing set
def create_train_test(data, start_train, end_train, start_test, end_test, test_length=24):

    df_train = data.loc[start_train:end_train, :]
    df_test = data.loc[start_test:end_test, :]

    start = datetime.strptime(start_test, '%Y-%m-%d %H:%M:%S')
    date_list = [start + relativedelta(hours=x) for x in range(0,test_length)] #test set will always have 24 hours
    future = pd.DataFrame(index=date_list, columns= df_train.columns)
    df_train = pd.concat([df_train, future])

    return df_train, df_test



#function to add all exogenous variables
def add_exog(data, weather, start_time, end_time):

    #add dummy variables for precipitation
    precip = pd.get_dummies(weather.precip_type)
    data = data.join(precip)

    data['Day_of_Week'] = data.index.dayofweek
    data['Weekend'] = data.apply(is_weekend, axis=1)
    data['Temperature'] = weather.loc[start_time:end_time, 'temperature']
    data['Humidity'] = weather.loc[start_time:end_time, 'humidity']
    data['Precip_Intensity'] = weather.loc[start_time:end_time, 'precip_intensity']
    data.rename(columns={'rain':'Rain', 'sleet':'Sleet', 'snow':'Snow'}, inplace=True)

    #fill missing values with mean
    data['Temperature'] = data.Temperature.fillna(np.mean(data['Temperature']))
    data['Humidity'] = data.Humidity.fillna(np.mean(data['Humidity']))
    data['Precip_Intensity'] = data.Precip_Intensity.fillna(np.mean(data['Precip_Intensity']))

    return data


#function to start/end dates for train and test
def find_dates(building_id, length=1, total_length=30, final_date=None):
    start_train, end_test = find_egauge_dates(building_id, total_length)
    time_delta_1 = timedelta(days=length)
    time_delta_2 = timedelta(hours=1)
    end_train = end_test - time_delta_1
    start_test = end_train + time_delta_2
    start_train = str(start_train)
    end_train = str(end_train)
    start_test = str(start_test)
    end_test = str(end_test)

    return start_train, end_train, start_test, end_test


def fit_exog_arima(data, weather, building_id, length=1, total_length=30, test_length=24):

    start_train, end_train, start_test, end_test = find_dates(building_id, length=length, total_length=total_length)
    df_train, df_test = create_train_test(data, start_train, end_train, start_test, end_test, test_length)
    df_exog = add_exog(df_train, weather, start_train, end_test)
    exogenous = df_exog.loc[start_train:,['Weekend','Temperature','Humidity','car1']].astype(float)
    endogenous = df_exog.loc[:,'Hourly_Usage'].astype(float)

#    low_aic = gridsearch_arima(endogenous,exogenous)
#    arima_model = sm.tsa.statespace.SARIMAX(endog=endogenous,
#                                   exog = exogenous,
#                                   trend=None,
#                                   order=low_aic[0],
#                                   seasonal_order=low_aic[1],
#                                   enforce_stationarity=False,
#                                   enforce_invertibility=False)

    arima_model = sm.tsa.statespace.SARIMAX(endog=endogenous,
                                  exog = exogenous,
                                  trend=None,
                                  order=(1, 0, 1),
                                  seasonal_order=(0, 1, 1, 24),
                                  enforce_stationarity=False,
                                  enforce_invertibility=False)
    results = arima_model.fit()

    return df_exog, results



def plot_exog_arima(data, data_exog, model, building_id, length=1, total_length=30, test_length=24):

    start_train, end_train, start_test, end_test = find_dates(building_id, length=length, total_length=total_length)
    df_train, df_test = create_train_test(data, start_train, end_train, start_test, end_test, test_length=test_length)
    df_exog_train, df_exog_test = create_train_test(data_exog, start_train, end_train, start_test, end_test, test_length=test_length)

    mse, rmse = add_forecast(model, df_test, df_exog_train, start_test, end_test)
    plot_forecast(df_exog_train, 500)

    return mse, rmse, df_exog_train


#function to find optimal parameters and resulting AIC score
def gridsearch_arima(y, exog=None):

    p = d = q = range(0, 2)
    pdq = list(itertools.product(p, d, q))
    seasonal_pdq = [(x[0], x[1], x[2], 24) for x in list(itertools.product(p, d, q))]

    low_aic = [0,0,50000]

    for param in pdq:
        for param_seasonal in seasonal_pdq:
            try:
                model = sm.tsa.statespace.SARIMAX(y,
                                                  exog=exog,
                                                order=param,
                                                seasonal_order=param_seasonal,
                                                enforce_stationarity=False,
                                                enforce_invertibility=False)
                results = model.fit()
                if results.aic < low_aic[2]:
                    low_aic = [param, param_seasonal, results.aic]

#                 print('ARIMA{}x{}24 - AIC:{}'.format(param, param_seasonal, results.aic))
            except:
                continue
    return low_aic


#function to forecast with fitted model, returns MSE and RMSE
def add_forecast(model, test, train, start_time, end_time):

    train['forecast'] = model.predict(start=start_time, end=end_time)
    y_true = test.loc[start_time:end_time, 'Hourly_Usage']
    y_pred = train.loc[start_time:end_time, 'forecast']
    train.loc[start_time:end_time, 'Hourly_Usage'] = test.loc[start_time:end_time, 'Hourly_Usage']

    mse = mean_squared_error(y_true, y_pred)
    rmse = np.sqrt(mse)

    return mse, rmse


def plot_forecast(data, datapoints):
    fig = plt.figure(figsize=(16,8))
    plt.plot(data['Hourly_Usage'][datapoints:])
    plt.plot(data['forecast'])
    plt.legend()


#function to find mean car charge
def mean_car_charge(data, start, end):
    car_charge = {}
    for index in data.Time_Index.unique():
        car_charge[index] = np.mean(data[data.Time_Index==index].car1)

    return car_charge


#function to add all exogenous variables
def create_exog_endo(data, weather, building_id, length=1, total_length=30):

    start_train, end_train, start_test, end_test = find_dates(building_id, length, total_length)
    df_train, df_test = create_train_test(data, start_train, end_train, start_test, end_test, 24*length)

    car_charge = mean_car_charge(data, start_train,end_train)

    df_train['Time_Index'] = df_train.index.weekday_name+ df_train.index.hour.astype(str)
    df_train['Temperature'] = weather.loc[start_train:end_test, 'temperature']
    df_train['Humidity'] = weather.loc[start_train:end_test, 'humidity']

    for time in df_train.loc[start_test:end_test,:].index:
        df_train.loc[time,'car1'] = car_charge[df_train.loc[time,'Time_Index']]

    #fill missing values with mean
    df_train['Temperature'] = df_train.Temperature.fillna(np.mean(df_train['Temperature']))
    df_train['Humidity'] = df_train.Humidity.fillna(np.mean(df_train['Humidity']))

    exogenous = df_train.loc[start_train:,['Temperature','Humidity','car1']].astype(float)
    endogenous = df_train.loc[:,'Hourly_Usage'].astype(float)

    return df_train, exogenous, endogenous


#function to fit SARIMAX model with create_exog_endo
def fit_exog_arima_new(exogenous, endogenous):

    low_aic = gridsearch_arima(endogenous,exogenous)
    arima_model = sm.tsa.statespace.SARIMAX(endog=endogenous,
                                  exog = exogenous,
                                  trend=None,
                                  order=low_aic[0],
                                  seasonal_order=low_aic[1],
                                  enforce_stationarity=False,
                                  enforce_invertibility=False)
    arima_exog_results = arima_model.fit()

    return arima_exog_results

In [98]:
df_meta = pickle.load(open('pickle_files/df_meta_refined.p', 'rb'))

In [100]:
df_meta.loc[545, :]

dataid                                          545
active_record                                   yes
building_type                    Single-Family Home
program_579                                    None
program_baseline                                yes
program_energy_internet_demo                    yes
program_lg_appliance                           None
program_verizon                                None
program_ccet_group              CCET - Text Message
program_civita_group                           None
city                                         Austin
state                                         Texas
pv                                              yes
date_enrolled                            2011-02-01
date_withdrawn                                 None
house_construction_year                        2007
total_square_footage                           2345
first_floor_square_footage                     1385
second_floor_square_footage                     960
third_floor_square_footage                        0
half_floor_square_footage                       NaN
lower_level_square_footage                      NaN
audit_2011                                      yes
audit_2013_2014                                 yes
survey_2011                                     yes
survey_2012
survey_2013                                     yes
survey_2014                                     yes
number_of_nests                                 NaN
indoor_temp_min_time                           None
                                       ...
lights_plugs1                                  None
lights_plugs2                                  None
lights_plugs3                                  None
lights_plugs4                                  None
lights_plugs5                                  None
lights_plugs6                                  None
livingroom1                                     yes
livingroom2                                    None
microwave1                                      yes
office1                                        None
outsidelights_plugs1                           None
outsidelights_plugs2                           None
oven1                                           yes
oven2                                          None
pool1                                          None
pool2                                          None
poollight1                                     None
poolpump1                                      None
pump1                                          None
range1                                         None
refrigerator1                                   yes
refrigerator2                                  None
security1                                      None
shed1                                          None
sprinkler1                                     None
utilityroom1                                   None
venthood1                                      None
waterheater1                                   None
waterheater2                                   None
winecooler1                                    None
Name: 545, Length: 104, dtype: object